# Site settings
title:       The Dima
#email:
author:      Dmitriy Kopylenko
description: "My blog"
baseurl:     ""
url:         "http://kopylenko.com"
date_format: "%b %-d, %Y"

# Google analytics
google_analytics: UA-10548385-1

# Optional features
animated:           true
show_related_posts: false
show_post_footers:  false
show_social_icons:  true

# Disqus post comments
# (leave blank to disable Disqus)
disqus_shortname: kopylenko

# Social icons
github_username: dima767
stackoverflow_id:
twitter_username: dima767
google_plus_id:
linkedin_username:
angellist_username:
medium_id:
bitcoin_url: https://www.coinbase.com/dima767
paypal_url:
flattr_button:

# Post sharing icons
show_sharing_icons: true
share_text: 'Share this post!'
# Change to 'true' to enable individual icons
share_facebook: true
share_twitter: true
share_googleplus: true
share_linkedin: false
share_digg: false
share_tumblr: false
share_reddit: true
share_stumbleupon: false
share_hackernews: false

text:
  pagination:
    newer: 'Newer'
    older: 'Older'

# Build settings
markdown:     kramdown
redcarpet:
  extensions: ['smart', 'tables', 'with_toc_data']
permalink:    pretty
paginate:     4
sass:
  compressed: true
gems:
  - jekyll-sitemap
  - jekyll-paginate

# https://github.com/jekyll/jekyll/issues/2938
exclude: [vendor]
