---
layout: default
background-color: '#212529'
searchbutton: false
ignorefooter: 'true'
---

{% include pageheader.html %}

<link rel="stylesheet" type="text/css" href="{{"css/style.css" | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{"css/responsive.css" | relative_url }}">

<script>
	$('.masthead').css("z-index", "-1");
	$('.logo').css("margin-top", "6px");
	$('.logo').css("margin-left", "6px");
	$('.masthead').css("background-color", "rgb(7, 6, 6)");
	$('.navbar-toggle').css('margin-top', "0px");
	$('.navbar-toggle').css('margin-right', "0px");
	$('.navbar-nav>li').css('margin-left', "20px");
	$('nav').removeClass('navbar');
</script>

<section id="about-us">
<div class="container">
	<div style="text-align: center; margin: 35px 0 0 0;">
		<h2>Hi, I'm Misagh</h2>
	</div>

	<div class="clear-fix team-member-wrapper">
		<div id="misagh" class="float-left">
			<div class="single-team-member">
				<div class="img">
					<img id="misaghimg" style="border-radius:25%; min-width: 360px; margin-top: 10px;" class="teammember"
						src="{{"/images/team/1.png" | relative_url }}"
						title="Fawnoos || Open-Source Identity and Access Management Consulting Services">
				</div>
			</div>
		</div>

		<div class="team-member-body">
			<br />

			<p>I'm Misagh Moayyed
				(<a target="_blank" data-toggle="tooltip" data-placement="bottom" title="Not sure how to pronounce my name? Listen to Google Translate!"
					href="https://translate.google.com/#view=home&op=translate&sl=fa&tl=ar&text=%D9%85%DB%8C%D8%AB%D8%A7%D9%82%D9%92%20%D9%85%D8%A4%D9%8A%D9%91%D9%90%D8%AF%D9%92">میثاقْ
					مؤيِّدْ</a>); a software engineer
				and independent consultant.</p>

			<p><br></p>
			<p>My primary focus is on analysis, specification and development of open-source software
				solutions in the field of identity and access management (IAM), and I specialize in
				dealing with identity management, federated authentication, provisioning, access
				management, single sign-on, application integrations and authentication protocols,
				authorization strategies, etc.</p>
			<br>

			<p>
				These days, in addition to other side adventures I work as a <a
					href="https://www.tirasa.net/tirasa/team/misagh-moayyed">Software Architect at
					Tirasa</a> and continue to serve as the Apereo CAS project's chairman and technical
				lead. For a complete resume, please visit <a href="https://www.linkedin.com/mmoayyed">my
					LinkedIn profile</a>.
			</p>
			<br>
			<p>
				I have been working as a software engineer since 2002, got <a
					href="https://github.com/mmoayyed">involved with open-source</a> in
				2008 and work as an active open-source contributor and frequent
				committer to quite a few open-source IAM solutions, some of which are listed below:
			</p>
		</div>


		<div class="row">

			
			<div class="col-sm-3 single-about-content" style="margin-top: 10px;">
				<div class="icon round-border tran3s">
					<img class="projecticon" src="{{"/images/project/cas.png" | relative_url }}"
						title="Fawnoos || Open-Source Identity and Access Management Consulting Services">
				</div>
				<h5><a href="#" class="tran3s">Apereo CAS</a></h5>
			</div>
			
			<div class="col-sm-3 single-about-content" style="margin-top: 10px;">
				<div class="icon round-border tran3s">
					<img class="projecticon" src="{{"/images/project/shibboleth.png" | relative_url }}"
					title="Fawnoos || Open-Source Identity and Access Management Consulting Services">
				</div>
				<h5><a href="#" class="tran3s">Shibboleth</a></h5>
			</div>
			
			
			<div class="col-sm-3 single-about-content" style="margin-top: 10px;">
				<div class="icon round-border tran3s">
					<img class="projecticon" src="{{"/images/project/pac4j.png" | relative_url }}"
					title="Fawnoos || Open-Source Identity and Access Management Consulting Services">
				</div>
				<h5><a href="#" class="tran3s">Pac4j</a></h5>
			</div>
			
			
			<div class="col-sm-3 single-about-content" style="margin-top: 10px;">
				<div class="icon round-border tran3s">
					<img class="projecticon" src="{{"/images/project/syncope.png" | relative_url }}"
					title="Fawnoos || Open-Source Identity and Access Management Consulting Services">
				</div>
				<h5><a href="#" class="tran3s">Syncope</a></h5>
			</div>
		
		</div>
		
		<p style="margin-top: -80px;">
			I am an avid blogger and frequently publish posts on the <a href="/blog">Fawnoos
				Blog</a> about interesting technologies, client projects, open-source developments,
			etc. You will find a brief list of topics and themes below:
		</p> <br>

		<div class="tagcloud06">
			<ul>
				<li><a href="#"><span>CAS</span></a></li>
				<li><a href="#"><span>SAML2</span></a></li>
				<li><a href="#"><span>OpenID Connect</span></a></li>
				<li><a href="#"><span>OAuth</span></a></li>
				<li><a href="#"><span>JDK</span></a></li>
				<li><a href="#"><span>Groovy</span></a></li>
				<li><a href="#"><span>Apache Ant</span></a></li>
				<li><a href="#"><span>Maven</span></a></li>
				<li><a href="#"><span>Gradle</span></a></li>
				<li><a href="#"><span>Spring</span></a></li>
				<li><a href="#"><span>Markdown</span></a></li>
				<li><a href="#"><span>Spring Webflow</span></a></li>
				<li><a href="#"><span>Spring Security</span></a></li>
				<li><a href="#"><span>JUnit</span></a></li>
				<li><a href="#"><span>Git</span></a></li>
				<li><a href="#"><span>Docker</span></a></li>
				<li><a href="#"><span>Kubernetes</span></a></li>
				<li><a href="#"><span>Apache Tomcat</span></a></li>
				<li><a href="#"><span>Spring Boot</span></a></li>
				<li><a href="#"><span>Thymeleaf</span></a></li>
				<li><a href="#"><span>Hibernate</span></a></li>
			</ul>
		</div>

	</div>
	<p id="presentations" />
	<div class="theme-title">
		<h2>Presentations</h2>
		<br>
		<sub>Presentaion slides can be
			found <a href="https://www.slideshare.net/MisaghMoayyed/presentations">here</a>.</sub>
	</div>

	<div class="card-deck" style="padding-top: 10pt;">
		<div class="card">
			<div class="card-body text-center">
				<h4 class="card-title">Apereo CAS Project Overview</h4>
				<p class="card-text">
					<iframe src="https://www.youtube.com/embed/FvPip9chQmQ" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</p>
				<span class="post-meta">Open Apereo Conference - 2020</span>
				<p class="card-text">Apereo CAS overview prepared for Open Apereo 2020 Virtual Conference.</p>
			</div>
		</div>


		<div class="card">
			<div class="card-body text-center">
				<h4 class="card-title">Best Practices with Git & GitHub</h4>
				<p class="card-text">
					<iframe src="https://www.youtube.com/embed/l-5N89Rpsq0" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</p>
				<span class="post-meta">Apereo Webinar - 2017</span>
				<p class="card-text">Matthew Bucket (University of Oxford and Sakai PMC) and Misagh Moayyed (CAS
					PMC) discuss best practice with Git and Github.</p>
			</div>
		</div>


		<div class="card">
			<div class="card-body text-center">
				<h4 class="card-title">Apereo CAS Project Overview</h4>
				<p class="card-text">
					<iframe src="https://www.youtube.com/embed/P_GTXEAt5oU" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</p>
				<span class="post-meta">Open Apereo Conference - 2015</span>
				<p class="card-text">Misagh Moayyed (CAS PMC) presents an overview of the CAS project status and
					activity.</p>
			</div>
		</div>
	</div>

	<div class="card-deck" style="padding-top: 10pt;">
		<div class="card">
			<div class="card-body text-center">
				<h4 class="card-title">CAS and PeopleSoft Integration</h4>
				<p class="card-text">
					<iframe src="https://www.youtube.com/embed/NsVVvxW7pBw" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</p>
				<span class="post-meta">Open Apereo Conference - 2014</span>
				<p class="card-text">Misagh Moayyed (CAS PMC) describes how to CASify PeopleSoft.</p>
			</div>
		</div>

		<div class="card">
			<div class="card-body text-center">
				<h4 class="card-title">Apereo CAS Project Status</h4>
				<p class="card-text">
					<iframe src="https://www.youtube.com/embed/K-tLvDAIZIA" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</p>
				<span class="post-meta">Open Apereo Conference - 2014</span>
				<p class="card-text">Misagh Moayyed (CAS PMC) presents an overview of the CAS project status and
					activity.</p>
			</div>
		</div>


		<div class="card">
			<div class="card-body text-center">
				<h4 class="card-title">To CAS 3 and Beyond: CAS Upgrade Story</h4>
				<p class="card-text">
					<iframe src="https://www.youtube.com/embed/tpiZru_SJpI" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</p>
				<span class="post-meta">Open Apereo Conference - 2014</span>
				<p class="card-text">This session presents an evaluation of a CAS v2 environment and how various
					functional, technical and user-interface requirements are implemented in the new CAS 3 installation.
				</p>
			</div>
		</div>
	</div>


	<div class="card-deck" style="padding-top: 10pt;">
		<div class="card">
			<div class="card-body text-center">
				<h4 class="card-title">2FA with CAS: A tale of two factors</h4>
				<p class="card-text">
					<iframe src="https://www.youtube.com/embed/pE3D6ddpiL8" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</p>
				<span class="post-meta">Open Apereo Conference - 2014</span>
				<p class="card-text">This session will describe the latest extensions developed to enable multifactor
					authentication with CAS v3.</p>
			</div>
		</div>
		<div class="card" style="border: 0">
			
		</div>
		<div class="card" style="border: 0">
			
		</div>
	</div>
</div>
</section>	


{% include contactus.html %}
