---
layout: single
ignorefooter: "true"
---

<section id="terms">
    <div class="container" id="termscontainer">
        <div style="margin-top: 25px;" id="termsheader">
            <h2>Contracts & Statements of Work</h2>
        </div>
        <div>
            <p class="text-wrap">
            Fawoos consulting services and support options typically fall into the following categories. Please review the details listed below and <a href="#contact-section-header">follow up</a> to discuss your project and/or support needs. While this is ultimately up to your schedule and project needs, most projects typically begin approixmately 24/48 hours after the contract is signed.
            </p> 
            <p><br></p>
        </div>


        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#tm"><i class="fa fa-clock"></i> Time & Materials</a>
                </li>
                <li>
                  <a class="nav-link" data-toggle="tab" href="#fixedbid"><i class="fas fa-file-contract"></i> Fixed Scope</a>
                </li>
            </ul>
    
            <div class="tab-content">
                <div class="tab-pane active" id="tm" style="margin-bottom: 25px; margin-top: 25px">
                    <p>You purchase a pool of consulting hours that may be used for support and related activities. Consulting hours expire after a period of time, and the project and support activities stop when you run out of hours, or when the contract expires.   
                    <p><br></p>
                    <ul>
                        <li><h6 style="margin-bottom: 25px;"><i class="fa fa-arrow-right"></i> Why would I need this?</h6></li>
                    </ul>
                    <p>
                        This option works best if you want to do (almost) all the work and need basic Q&A help and guidance for your team and technical staff. Small tasks, questions around a particular feature or use case or the availability of a specific bug fix, best practices or options around configuration profiles, etc all fit within this category.
                    </p>
                    <p><br></p>
    
                    <ul>
                        <li><h6 style="margin-bottom: 25px;"><i class="fa fa-arrow-right"></i> What can I use these hours for?</h6></li>
                    </ul>
                    <p>
                        You can use these hours for any tasks with which you require assistance and guidance. For example, hours can be used for hands-on development and Q/A support, modest feature development, working out bug fixes, coding reviews or pair-programming sessions, collaboration and troubleshooting sessions, answering emails and questions, etc. Since there is <u>no fixed, exact scope</u>, you can direct and change the task list as you wish until there is time left in the project budget.
    
                        <p><br></p>
                        Production rollouts and related support activities are almost always considered out of scope. You are ultimately and independently responsible for production rollouts.
                    </p>
                    <p><br></p>
                    <ul>
                        <li><h6 style="margin-bottom: 25px;"><i class="fa fa-arrow-right"></i> When do hours expire?</h6></li>
                    </ul>
                    <p>
                        The typical <strong>minimum</strong> consulting package offers <strong>20 hours</strong> of support which remain valid for <strong>60 days</strong>. Simply put, the more hours you buy the longer the contract may hold. Unused hours are lost after the contract ends, unless the contract is renewed without delay.

                        <p><br></p>
                        Note that this is the <strong>smallest consulting package</strong> available. Engagements that ask for fewer hours and smaller packages are not available, accepted or negotiated.
                        <p><br></p>
                        There is no completion date for a Time & Material engagement since there is no fixed, known scope. You and your staff would mainly be doing all the work and we are here to assist. Contractually, the completion date is when the contract expires or you run out of hours.
                    </p>

                    <p><br></p>
                    <ul>
                        <li><h6 style="margin-bottom: 25px;"><i class="fa fa-arrow-right"></i> How do you handle taxes and VAT?</h6></li>
                    </ul>
                    <p>
                        Short answer is we do not and our engagements are <i>tax free</i>. That is to say, You, the Client, are responsible to settle the invoice exactly and precisely as set forth in the proposed statement of work without subtracting any tax. If you wish and the law requires you to do so, we certainly do accept an 1099-MISC IRS form. Generally speaking, handling taxes are not necessarily your concern and we are solely responsible for all federal, state and local taxes.

                        <p><br></p>
                        However, if you intend to or must subtract VAT or any other tax from the quoted amount, if at all, the final number of consulting/support hours will be appropriately reduced and adjusted to reflect the total net amount received. The proposed number of consulting hours is predicated on the <strong>exact amount quoted</strong>, received and deposited. No more, no less.
                    </p>

                    <p><br></p>
                    <ul>
                        <li><h6 style="margin-bottom: 25px;"><i class="fa fa-arrow-right"></i> How soon can we start?</h6></li>
                    </ul>
                    <p>
                        Generally speaking and barring special circumstances, the project starts 24 hours after the payment is received. In most cases, you are able to start using your consulting hours pretty much immediately once the payment is settled or an official P.O. is signed and received.
                    </p>

                    <p><br></p>
                    <ul>
                        <li><h6 style="margin-bottom: 25px;"><i class="fa fa-arrow-right"></i> How is time calculated?</h6></li>
                    </ul>
                    <p>
                        Email exchanges, screen-sharing sessions, and all other Client interactions are collected in <strong>15-minute increments</strong> at a minimum. Furthermore, you will be asked for authorization and approval of time/effort and will be given an estimate for all hands-on and development tasks (i.e. research, bug fixes and feature enhancements, etc.) should your deployment require any.
    
                        <p><br></p>
                        At any time during the project, you may ask for a project budget update and detailed reports to see the hours spent on various tasks. You will also periodically be notified of hours spent and what remains in the project budget.
                    </p>
        
                    <p><br></p>
                    <ul>
                        <li><h6 style="margin-bottom: 25px;"><i class="fa fa-arrow-right"></i> How do you offer support?</h6></li>
                    </ul>
                    <p>
                        Support activities and consulting services are typically done via collaboration sessions, scheduled in advance based on a mutually agreeable time, using tools such as Zoom, MS Teams, etc. This is the only available form of real-time support and assistance. Alternatively Q/A may proceed via email exchanges. The SLA for support requests and exchanges is typically between <strong>1-2 hours CET</strong>.

                        <p><br></p>
                        You will receive <a href="/misagh">a dedicated consultant</a> to answer your questions, assist with troubleshooting and execute technical tasks directly for you. The contract is between you, the Client, and an individual consultant as a contractor. Your company, university or organization is not contracting with a company or a corporation and must be willing to accept consulting arrangements with an individual consultant.
                    </p>
    
                    <p><br></p>
                    <ul>
                        <li><h6 style="margin-bottom: 25px;"><i class="fa fa-arrow-right"></i> What kind of access do you need?</h6></li>
                    </ul>
                    <p>
                        <strong>None</strong>. No remote direct access to systems (VPN, Remote Desktop, etc.) will ever be required, used or asked. All interactions are strictly limited to email communications, screen-sharing tools and offline access to redacted configuration files for troubleshooting and testing, etc. if and when necessary.
                    </p>

                    <p><br></p>
                    <ul>
                        <li><h6 style="margin-bottom: 25px;"><i class="fa fa-arrow-right"></i> How do you handle payments?</h6></li>
                    </ul>
                    <p>
                        You will typically receive an invoice within <u>7 to 14 days</u> of the project start date, and are expected to settle the invoice within <u>7 to 14 days</u> of the invoice submission date so the support activities may resume. Payments are handled via bank account wire transfers, or via the likes of PayPal.

                        <p><br></p>
                        If you wish to settle and pay for the quoted amount via credit cards, the final amount quoted will be adjusted to account for credit card transaction fees, the maximum of which would approximately be <u>15% of the total quoted amount</u>. Each credit card transaction processor presents its own fees and charges, and the final amount quoted will depend on the credit card processor used.
                    </p>
    
                </div>
    
                <div class="tab-pane" id="fixedbid" style="margin-bottom: 25px; margin-top: 25px">
    
                    <p>This option requires an <strong>exact project description and task list</strong> from you. We will discuss your deployment environment, specific support needs, current software versions and all other relevant issues upfront to then arrive at an exact scope, focused on a specific use case. You will then receive a fixed quote. The project stops once the scope is verified and delivered. 
                    <p><br></p>
    
                    <ul>
                        <li><h6 style="margin-bottom: 25px;"><i class="fa fa-arrow-right"></i> Why would I need this?</h6></li>
                    </ul>
                    <p>
                    This option works best if you have a focused, known, sizable task list in mind, such as feature development, software upgrades or specific integrations with third-party applications. It is usually relevant when you prefer to have Fawnoos do all the work for you on your behalf.
                    </p>
                    <p><br></p>
                    <ul>
                        <li><h6 style="margin-bottom: 25px;"><i class="fa fa-arrow-right"></i> What can I use these hours for?</h6></li>
                    </ul>
                    <p>
                        A fixed-scope project focuses on an <strong>exact predefined scope</strong> written down and reviewed by all stakeholders. Any task that is not strictly defined upfront and noted in the statement of work is considered as out of scope and will be excluded from project delivery.
                        <p><br></p>
                    <ul>
                        <li><h6 style="margin-bottom: 25px;"><i class="fa fa-arrow-right"></i> When does the project expire?</h6></li>
                    </ul>
                    <p>
                        The engagement is considered complete once all listed deliverables in the statement of work are submitted and verified. We will discuss the project timeline upfront to determine appropriate start, delivery and verification dates for all produced artifacts.
                    <p><br></p>
                    <ul>
                        <li><h6 style="margin-bottom: 25px;"><i class="fa fa-arrow-right"></i> How is time calculated?</h6></li>
                    </ul>
                    <p>
                        Time calculations are not relevant here. You will receive a fixed bid that delivers the predefined scope based on an agreed-upon timeline. You will not be asked to pay more if the project takes longer, and there are no refund options if the project is finished earlier than expected.
                    </p>
    
                    <p><br></p>
                    <ul>
                        <li><h6 style="margin-bottom: 25px;"><i class="fa fa-arrow-right"></i> What kind of access do you need?</h6></li>
                    </ul>
                    <p>
                        Most likely, we will need direct access to your systems (VPN, Remote Desktop, etc.), source code repositories or deployment environments to complete the work, and build/deploy the software artifacts.
                    </p>
    
                    <p><br></p>
                    <ul>
                        <li><h6 style="margin-bottom: 25px;"><i class="fa fa-arrow-right"></i> How soon can we start?</h6></li>
                    </ul>
                    <p>
                        Generally speaking and barring special circumstances, the project starts 24 hours after the payment is received. In most cases, you are able to start using your consulting hours pretty much immediately once the payment is settled or an official P.O. is signed and received.
                    </p>
                    
                    <p><br></p>
                    <ul>
                        <li><h6 style="margin-bottom: 25px;"><i class="fa fa-arrow-right"></i> How do you handle payments?</h6></li>
                    </ul>
                    <p>
                        You will typically receive an invoice within <u>7 to 14 days</u> of the project start date, and are expected to settle the invoice within <u>7 to 14 days</u> of the invoice submission date so the support activities may resume. Payments are handled via bank account wire transfers, or via the likes of PayPal.

                        <p><br></p>
                        If you wish to settle and pay for the quoted amount via credit cards, the final amount quoted will be adjusted to account for credit card transaction fees, the maximum of which would approximately be <u>15% of the total quoted amount</u>. Each credit card transaction processor presents its own fees and charges, and the final amount quoted will depend on the credit card processor used.
                    </p>
    



                </div>
            </div>
    
        </div>
    </div>

    {% include contactus.html %}

</section>

{% include contactfab.html %}
