<p id="contact-section-header" />
<div id="contact-section">
    <div class="container">
        <div class="clear-fix contact-address-content">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="left-side">
                    <h2>Contact Info</h2>
                    <p>Have a question about projects, services, rates, or anything else? Feel free to get in
                        touch and drop us a note.</p>
                    <ul>
                        <li>
                            <div class="icon tran3s round-border p-color-bg"><i class="fa fa-envelope-o"
                                    aria-hidden="true"></i></div>
                            <h6>Email</h6>
                            <p><code><a href="mailto:info@fawnoos.com">info@fawnoos.com</code></a></p>
                        </li>
                        <!-- <li>
										<div class="icon tran3s round-border p-color-bg"><i class="fa fa-twitter" aria-hidden="true"></i></div>
										<h6>Twitter</h6>
										<p><code>@misagh84</code></p>
									</li>  -->
                        <!-- <li>
										<div class="icon tran3s round-border p-color-bg"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
										<h6>Email</h6>
										<p><code>info@fawnoos.com</code></p>
									</li> -->
                    </ul>
                </div>

                <div>

                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8081398210264173"
                        data-ad-slot="4304756452" data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>

                </div>

            </div>


        </div>


    </div>
</div>