<footer class="footer">
    <div class="container">
        <a href="index.html" class="logo"><img src="/images/logo/logo.png"
                title="Fawnoos || Open-Source Identity and Access Management Consulting Services"></a>

        <ul>

            <li><a href="mailto:info@fawnoos.com" class="tran3s round-border"><i class="fa fa-envelope-square"
                        aria-hidden="true"></i></a></li>
            <li><a href="https://github.com/mmoayyed" class="tran3s round-border"><i class="fa fa-github"
                        aria-hidden="true"></i></a></li>
            <!-- <li><a href="https://patreon.com/misagh" class="tran3s round-border"><i class="fa fa-usd"
                        aria-hidden="true"></i></a></li> -->
            <!-- <li><a href="#" class="tran3s round-border"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> -->
            <li><a href="https://twitter.com/misagh84" class="tran3s round-border"><i class="fa fa-twitter"
                        aria-hidden="true"></i></a></li>
            <!-- <li><a href="#" class="tran3s round-border"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li> -->
            <li><a href="https://www.linkedin.com/mmoayyed" class="tran3s round-border"><i
                        class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="https://www.slideshare.net/MisaghMoayyed" class="tran3s round-border"><i
                        class="fa fa-slideshare" aria-hidden="true"></i></a></li>
            <!-- <li><a href="#" class="tran3s round-border"><i class="fa fa-skype" aria-hidden="true"></i></a></li> -->
            <!-- <li><a href="#" class="tran3s round-border"><i class="fa fa-flickr" aria-hidden="true"></i></a></li> -->
            <!-- <li><a href="#" class="tran3s round-border"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li> -->
            <!-- <li><a href="#" class="tran3s round-border"><i class="fa fa-rss" aria-hidden="true"></i></a></li> -->
        </ul>
        <p>Copyright @2023 All rights reserved.
            <br>All background images are available on <a href="https://unsplash.com"
                target="_blank">Unsplash</a>
        </p>

    </div>
</footer>