<footer class="center">
  <div class="measure" style="display: none;">
    <!-- hitwebcounter Code START -->
<a href="http://www.hitwebcounter.com" target="_blank">
<img src="http://hitwebcounter.com/counter/counter.php?page=6429830&style=0001&nbdigits=9&type=page&initCount=0" 
title="my widget for counting" Alt="my widget for counting"   border="0" >
</a>                                        <br/>
<!-- hitwebcounter.com --><a href="http://www.hitwebcounter.com" title="MyVisits Counter" 
target="_blank" style="font-family: Arial, Helvetica, sans-serif; 
font-size: 11px; color: #9C9E94; text-decoration: none ;"><strong>MyVisits Counter                                        </strong>
</a>   
  </div>
</footer>


