<head>

  <meta charset="UTF-8">
  <!-- For IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- For Resposive Device -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index,follow">

  <meta name="description" content="Fawnoos || open-source identity and access management software consulting services">
  <meta name="keywords" content="fawnoos, fawnous, apache, opensource, open-source, oss, software, identity, access management, consulting, consultant, cas, apereo, shibboleth, saml, oauth, openid connect, pac4j, login, syncope, single signon, sso, authentication, authorization, java, developer, github" />

  <title>{{ page.title }} || Fawnoos || Open-Source Identity and Access Management Consulting Services</title>

  <link rel="stylesheet" href="{{"/assets/vendor/bootstrap/css/bootstrap.min.css" | relative_url }}">

  <link rel="stylesheet" href="{{"/assets/vendor/fontawesome-free/css/all.min.css" | relative_url }}">

  <link rel="stylesheet" href="{{"/assets/main.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{"/assets/eyes.css" | relative_url }}">
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="icon" type="image/png" sizes="56x56" href="{{"/" | relative_url }}images/fav-icon/icon.png">
  
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&family=Neuton&family=Exo:wght@400;500;600;700v&display=swap" rel="stylesheet">
  
  <script src="{{"/assets/vendor/jquery/jquery.min.js" | relative_url }}"></script>
  <script src="{{"/assets/vendor/jquery/jquery-ui.min.js" | relative_url }}"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">
  
  <script src="{{"/assets/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
  <link rel="stylesheet" href="{{"/assets/tipuesearch/css/tipuesearch.css" | relative_url }}">
  
  <script src="{{"/assets/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
  <script src="{{"/assets/tipuesearch/tipuesearch.min.js" | relative_url }}"></script>
  
  <link rel="stylesheet" href="{{"/assets/vendor/animate/animate.min.css" | relative_url }}">
  
  <link rel="stylesheet" type="text/css" href="{{"/assets/blog.css" | relative_url }}">
  <script>
    $(".filter-button").click(function(){
        var value = $(this).attr('data-filter');
        if(value == "all") {
            $('.filter').show('1000');
        } else {
            $(".filter").not('.' + value).hide('1000');
            $('.filter').filter('.' + value).show('1000');
        }
    });
  </script>
</head>
