<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <a href="{{"/" | relative_url }}" class="logo blog-logo float-left tran4s">
    <img class="logo" src="{{"/" | relative_url }}images/logo/logo.png" title="Fawnoos || Open-Source Identity and Access Management Consulting Services">
  </a> 
  <div class="container-fluid">

    <div class="navbar-header">
      <span aria-disabled="true" class="navbar-toggle collapsed blog-menu-collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="fas fa-bars fa-lg" aria-hidden="true"></i>
      </button>
    </div>

    <div class="collapse navbar-collapse blognavbar" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li class="active"><a href="{{"/" | relative_url }}#home">HOME</a></li>
          <li><a id="about-us-top" href="{{"/" | relative_url }}#about-us-header">ABOUT</a></li>
          <li><a id="services-top" href="{{"/" | relative_url }}#service-section-header">SERVICES</a></li>
          <li><a id="misagh-top" href="{{"/misagh" | relative_url }}">TEAM</a></li>
          <li><a id="blog-top" href="{{"/" | relative_url }}blog">BLOG</a></li> 
          <li><a href="{{"/" | relative_url }}#contact-section-header">CONTACT</a></li>
      </ul>
      {% if page.name == 'misagh.html' %}
      <script>$('#misagh-top').addClass('active');</script>
      {% endif %}
      {% if page.name == 'blog.html' %}
      <script>$('#blog-top').addClass('active');</script>
      {% endif %}
    </div>


  </div>
</nav>

<script>
  $(window).scroll(function(){
    var stickyNav = $('#mainNav');
    var top = $(window).scrollTop();
    stickyNav.css("border", "none");
    
    if (top > 500) {
      stickyNav.css('background-color', "rgb(7, 6, 6)");
    } else {
      stickyNav.css('background-color', "unset");
    }
  });
</script>
