{% if page.background %}
<header class="masthead"
  style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
  <header class="masthead" style="background-color: #212529; max-height: 48pt;">
{% endif %}

    <div class="container">
      <div>
        <div class="mx-auto">
          <div class="post-heading">
            <h2 class="title">
              {{ page.title }} 
              {% if page.rssLink %}
              {{ page.rssLink }} 
              {% endif %}
            
            </h2>
            {% if page.subtitle %}
            <h2 class="post-subtitle">{{ page.subtitle }}</h2>
            {% endif %}

            {% if page.searchbutton %}
            <a id="searchbutton" class="btn btn-warning btn-sm"><span>Search</span> &rarr;</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>