@import url('../fonts/font-awesome/css/font-awesome.min.css');

.div-code-button {
    display: flex;
    flex-direction: row-reverse;
}

.btn-copy-code {
    color: #FFF;
    background-color: rgb(232, 137, 12);
    position: absolute;
    border: 0;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: -20px;
}
.btn-copy-code:hover{
    background-color: rgb(177, 104, 8);
}

table {
    width: 100%;
}

.logo {
    width: 240px;
    margin-top: 2px;
}


body {
    font-weight: 500;
    font-family: 'Exo','Palatino','Neuton', 'Open Sans', 'Raleway', 'Times New Roman';
    text-align: justify;
    font-size: 14pt;
}


header.masthead .post-heading .meta  {
    font-family: 'Tahoma', sans-serif; 
    font-size: 13pt;
}

.navbar-nav>li>a {
    text-transform: uppercase;
    color:#fff;
    font-family: 'Raleway', sans-serif;
    -webkit-transition: all .3s ease-in-out;
    line-height: 20px;
    font-weight: 600;
    background: transparent;
    padding: 9px 15px;
    font-size: 18px;
    text-decoration: none;
    outline: none;
} 

.navbar-nav>li>a:hover {
    color: rgb(232, 137, 12);
}

a, a:hover, .navbar-nav>li>a.active {
    color: rgb(232, 137, 12);
}

.title {
    font-family: Bree serif, Overlock, sans-serif;
    font-weight: 100;
    line-height: 1.5;
    color:white;
    max-width: 75%;
    text-align: left;
    font-size: 42px;
}

.post-subtitle {
    font-style: italic;
    font-size: 21px;
    font-weight: unset;
}

header.masthead {
    margin-bottom: 5px;
    max-height: 275pt;
}

.post-meta {
    font-size: 10pt;
}

.blogpost img {
    height: auto;
    width: 100%;
    opacity: .5;
    transition: opacity .2s ease-in-out;
    border-radius: 8px;
    border-style: outset;
}

.blogpost img:hover {
    opacity: 1;
}

.blogcontainer {
    display: contents;
}

.blogcontainer .blogpost p img {
    border-radius: 15px;
}

pre {
    overflow: unset;
}

blockquote {
    color: #2c3e50;
    font-size: 22px;
    line-height: 100%;
    position: relative;
    font-family: Georgia, serif;
    width: 100%;
    text-align: left justify;
    padding-left: 15px;
    border-left: 5px solid #7a7a7a;
}

pre.highlight {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 1px;
}

pre {
    font-family: "Ubuntu", "agave Nerd Font Mono", "Monaco", Gerogia monospace;
    font-size: 12pt;
}

div.highlight {
    border-radius: 15px;
    overflow: auto;
    margin-bottom: 8px;
}

code {
    font-size: 18px;
}

.blog-menu-collapsed {
    margin: 0px; 
    padding:0px; 
    position: absolute; 
    right: 15px; 
    top: 15px; 
    z-index: 10;
    background: border-box;
    border: none;
    outline:none; 
    display: none;
}

.blognavbar {
    margin-left: 8%;
    /* margin-top: 3%; */
}

.blog-logo {
    margin-left:19%;
}

code {
  color: rgb(75, 72, 72);
}

.ui-dialog {
    font-size: 12pt;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    border-radius: 10px;
    font-size: 12pt;
}

a.post-preview-link {
    text-decoration: none;
    color: unset;
}

.card-title {
    font-family: Bree serif, Overlock, sans-serif;
}

.card:hover {
    border-color: #eea236;
    border-width: 1.2px;
}


.tagcloud06 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tagcloud06 ul li {
	display: inline-block;
	margin: 0 0 .1em .6em;
	padding: 0;
}
.tagcloud06 ul li a {
	position: relative;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 0 1em 0 .5em;
	background-color: #faaa5e;
	border-radius: 0 3px 3px 0;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
    padding-left: 10px;
}
.tagcloud06 ul li a::before {
	position: absolute;
	top: 0;
	left: -12px;
	z-index: -1;
	content: '';
	width: 20px;
	height: 20px;
	background-color: #faaa5e;
	border-radius: 100%;
	-webkit-transition: .2s;
	transition: .2s;
    z-index: 0;
}

.tagcloud06 ul li span {
	display: block;
	max-width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
  overflow: hidden;
}

.tagcloud06 ul li a:hover::before {
	background-color: #faaa5e;
}



/* Filter Checkbox */
/*! 
 *  Multiple select dropdown with filter jQuery plugin.
 *  Copyright (C) 2020  Andrew Wagner  github.com/andreww1011
 *
 *  This library is free software; you can redistribute it and/or
 *  modify it under the terms of the GNU Lesser General Public
 *  License as published by the Free Software Foundation; either
 *  version 2.1 of the License, or (at your option) any later version.
 * 
 *  This library is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 *  Lesser General Public License for more details.
 * 
 *  You should have received a copy of the GNU Lesser General Public
 *  License along with this library; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301
 *  USA
 */
 :root {
    --fms-badge-text-color: white;
    --fms-badge-color: #faaa5e;
}

.filter-multi-select.dropup, .filter-multi-select.dropdown {
    position: relative;
}

.filter-multi-select .dropdown-toggle::after {
    all: unset;
}

.filter-multi-select .dropdown-toggle:empty::after {
    all: unset;
}

.filter-multi-select > .dropdown-toggle::before {
    display: inline-block;
    margin-right: 0.255em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.filter-multi-select > .dropdown-toggle:empty::before {
    margin-right: 0.255em;
}

.filter-multi-select > .viewbar {
    white-space: normal;
    font-size: 0.875rem;
    font-weight: 400;
    height: auto;
    cursor: pointer;
}

.filter-multi-select > .viewbar > .selected-items > .item {
    margin: .125rem .25rem .125rem 0;
    padding: 0px 0px 0px .5em;
    display: inline-flex;
    height: 1.875em;
    color: var(--fms-badge-text-color);
    background-color: var(--fms-badge-color);
    border-radius: 1.1em;
    align-items: center;
    vertical-align: baseline;
}

.filter-multi-select > .viewbar > .selected-items > .item > button {
    background-color: transparent;
    color: var(--fms-badge-text-color);
    border: 0;
    font-weight: 900;
    cursor: pointer;
}

.filter-multi-select > .viewbar > .selected-items > .item > button:hover {
    filter: contrast(50%);
}

.filter-multi-select > .viewbar > .selected-items > .item.disabled {
    display: inline-flex;
    padding: 0px .5em 0px .5em;
    filter: grayscale(80%) brightness(150%);
}

.filter-multi-select > .viewbar > .selected-items > .item.disabled > button {
    display: none;
}

.filter-multi-select > .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 1000;
    display: none;
    float: left;
    max-height: 50vh;
    min-width: 25rem;
    overflow-y: auto;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.875rem;
    text-align: left;
    list-style: none;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.filter-multi-select > .dropdown-menu.show {
    display: block;
}

.filter-multi-select > .dropdown-menu > .filter > input {
    font-size: 0.875rem;
}

.filter-multi-select > .dropdown-menu > .filter > button {
    position: absolute;
    border: 0;
    background-color: transparent;
    font-weight: 900;
    color: #ccc;
    right: 2rem;
    top: 1rem;
}

.filter-multi-select > .dropdown-menu > .filter > button:hover {
    color: #aaa;
}

.filter-multi-select .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.filter-multi-select .dropdown-item.disabled, .filter-multi-select .dropdown-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent;
}

.filter-multi-select .dropdown-item:hover, .filter-multi-select .dropdown-item:focus  {
    background-color: inherit;
}

.filter-multi-select .dropdown-item.active, .filter-multi-select .dropdown-item:active {
    color: inherit;
}

.filter-multi-select .dropdown-item .custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.filter-multi-select .dropdown-item .custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    display: inline-block;   
}

.filter-multi-select .dropdown-item .custom-control-label::before {
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: absolute;
    top: 0.15625rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #FFFFFF;
    border: #adb5bd solid 1px
}

.filter-multi-select .dropdown-item .custom-control-label::after {
    position: absolute;
    top: 0.15625rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50% / 50% 50%;
}

.filter-multi-select .dropdown-item .custom-checkbox:checked ~ .custom-control-label::before,
.filter-multi-select .dropdown-item .custom-checkbox:indeterminate ~ .custom-control-label::before {
    border-color: var(--fms-badge-color);
    background-color: var(--fms-badge-color);
}

.filter-multi-select .dropdown-item .custom-checkbox:checked:disabled ~ .custom-control-label::before,
.filter-multi-select .dropdown-item .custom-checkbox:indeterminate:disabled ~ .custom-control-label::before {
    border-color: var(--fms-badge-color);
    background-color: var(--fms-badge-color);
    filter: grayscale(80%) brightness(150%);
}

.filter-multi-select .dropdown-item .custom-checkbox:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23FFFFFF' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.filter-multi-select .dropdown-item .custom-checkbox:indeterminate ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23FFFFFF' d='M0 2h4'/%3e%3c/svg%3e");
}
/* Filter Checkbox */











@media only screen and (max-width: 1500px) {
    .title {
        text-align: left;
        font-size: 32px;
    }

    header.masthead .post-heading .meta {
        font-size: x-small;
    }

    #mainNav {
        background-color: rgb(7, 6, 6);
        border: none;
        /* margin-top: 10px; */
    }

    .row {
        display: contents;
    }
    .blog-logo {
        margin-left: unset;
    }

}

@media only screen and (max-width: 990px) {

    .title {
        font-size: 24px;
    }
    body {
        /* font-size: 16px; */
    }

    blockquote {
        font-size: 20px;
    }

    blockquote>p {
        padding-left:20px;
    }
    .blog-menu-collapsed {
        display: block;
        color: #fff; 
    }

    .navbar {
        line-height: 2.1;
        /* margin-top: 10px; */
    }

    .blog-logo {
        margin-left: unset;
    }
}


@media only screen and (max-width: 600px) {
    .title {
        margin-top: 3px;
        font-size: 28px;
        max-width: 80%;
    }
    .post-subtitle {
        font-size: 15px;
    }
    .blognavbar {
        margin-top: 4%;
        background: rgb(7, 6, 6);
    }

    a#darkMode {
        display: none;
    }

    body {
        font-size: 16pt;
    }

    pre {
        font-size: 11pt;
    }
}

@media only screen and (max-width: 499px) {
    #searchbutton/*,#tagsbutton */ {
        display: none;
    }
}

@media only screen and (max-width: 485px) {
    .post-heading .tagcloud06 {
        display: none;
    }
}