table {
    width: 100%;
}

.logo {
    width: 240px;
    margin-top: 2px;
}

body {
    font-family: 'Neuton', sans-serif;
    text-align: justify;
    font-size: 23.8px;
}


header.masthead .post-heading .meta  {
    font-family: 'Tahoma', sans-serif; 
    font-size: 18px;
}

.navbar-nav>li>a {
    text-transform: uppercase;
    color:#fff;
    font-family: 'Raleway', sans-serif;
    -webkit-transition: all .3s ease-in-out;
    line-height: 20px;
    font-weight: 700;
    background: transparent;
    padding: 9px 15px;
    font-size: 16px;
    text-decoration: none;
    outline: none;
} 

.navbar-nav>li>a:hover {
    color: rgb(232, 137, 12);
}

a, a:hover, .navbar-nav>li>a.active {
    color: rgb(232, 137, 12);
}

.title {
    font-family: Cochin;
    font-weight: 100;
    line-height: 1.5;
    color:white;
    width: 70%;
    text-align: left;
    font-size: 42px;
}

.post-subtitle {
    font-style: italic;
    font-size: 16px;
    font-weight: unset;
}

header.masthead {
    margin-bottom: 5px;
    max-height: 268pt;
    z-index:-1;
}

.post-meta {
    font-size: 10pt;
}

.blogpost img {
    height: auto;
    width: 100%;
}

.blogcontainer {
    display: contents;
}

pre {
    overflow: unset;
}

blockquote {
    color: #2c3e50;
    font-size: 22px;
    line-height: 100%;
    position: relative;
    font-family: Georgia, serif;
    width: 100%;
    text-align: left justify;
    padding-left: 15px;
    border-left: 5px solid #7a7a7a;
}

pre.highlight {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 1px;
    font-size: 16px;
}

div.highlight {
    border-radius: 15px;
    overflow: auto;
    margin-bottom: 8px;
}

code {
    font-size: 18px;
}

.blog-menu-collapsed {
    margin: 0px; 
    padding:0px; 
    position: absolute; 
    right: 15px; 
    top: 15px; 
    z-index: 10;
    background: border-box;
    border: none;
    outline:none; 
    display: none;
}

.blognavbar {
    margin-left: 8%;
}

.blog-logo {
    margin-left:19%;
}

code {
  color: rgb(75, 72, 72);
}

.ui-dialog {
    font-size: 12pt;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    border-radius: 10px;
    font-size: 12pt;
}

a.post-preview-link {
    text-decoration: none;
    color: unset;
}

.card:hover {
    border-color: #eea236;
    border-width: 1.2px;
}

@media only screen and (max-width: 1500px) {
    .title {
        text-align: left;
        font-size: 32px;
        width: 70%;
    }

    header.masthead .post-heading .meta {
        font-size: x-small;
    }

    #mainNav {
        background-color: rgb(7, 6, 6);
        border: none;
        margin-top: 10px;
    }

    .row {
        display: contents;
    }
    .blog-logo {
        margin-left: unset;
    }

}

@media only screen and (max-width: 990px) {

    .title {
        font-size: 24px;
    }
    body {
        /* font-size: 16px; */
    }

    blockquote {
        font-size: 20px;
    }

    blockquote>p {
        padding-left:20px;
    }
    .blog-menu-collapsed {
        display: block;
        color: #fff; 
    }

    .navbar {
        line-height: 2.1;
        /* margin-top: 10px; */
    }

    .blog-logo {
        margin-left: unset;
    }
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 20px;
    }
}