.logo {
    width: 240px;
    margin-top: 2px;
}

body {
    font-family: 'Tahoma', sans-serif;
    text-align: justify;
    font-size: 18px;
}

header.masthead .post-heading .meta  {
    font-family: 'Tahoma', sans-serif; 
    font-size: 18px;
}

.navbar-nav>li>a {
    text-transform: uppercase;
    color:#fff;
    font-family: 'Raleway', sans-serif;
    -webkit-transition: all .3s ease-in-out;
    line-height: 20px;
    font-weight: 700;
    background: transparent;
    padding: 9px 15px;
    font-size: 16px;
    text-decoration: none;
    outline: none;
} 

.navbar-nav>li>a:hover {
    color: rgb(232, 137, 12);
}

a:hover, .navbar-nav>li>a.active {
    color: rgb(232, 137, 12);
}

.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    line-height: 1.5;
    color:white;
    font-size: 44px;
}

.post-subtitle {
    font-style: italic;
    font-size: 18px;
}

header.masthead {
    margin-bottom: 5px;
}

.post-preview>.post-meta {
    font-size: 12px;
}

.blogpost img {
    height: auto;
    width: 100%;
}

.blogcontainer {
    display: contents;
}

pre {
    overflow: unset;
}

blockquote {
    color: #2c3e50;
    font-size: 30px;
    line-height: 100%;
    position: relative;
    font-family: Georgia, serif;
    width: 100%;
    text-align: center;
}

blockquote:before {
    content: '\201C';
    position: absolute;
    top: -10px;
    left: 0;
    font-family: Arial, sans-serif;
    font-size: 82px;
    font-style: normal;
    padding-top: 25px;
}

blockquote:after {
    content: '\201C';
    position: absolute;
    bottom: -60px;
    right: 0;
    font-family: Arial, sans-serif;
    font-size: 82px;
    font-style: normal;
    padding-bottom: 25px;
}

pre.highlight {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 1px;
}

div.highlight {
    border-radius: 15px;
    overflow: auto;
    margin-bottom: 8px;
}

.blog-menu-collapsed {
    margin: 0px; 
    padding:0px; 
    position: absolute; 
    right: 15px; 
    top: 15px; 
    z-index: 10;
    background: border-box;
    border: none;
    outline:none; 
    display: none;
}


code {
  color: rgb(75, 72, 72);
}

@media only screen and (max-width: 1500px) {
    .title {
        text-align: left;
        font-size: 32px;
        width: 70%;
    }

    header.masthead .post-heading .meta {
        font-size: x-small;
    }

    #mainNav {
        background-color: rgb(7, 6, 6);
        border: none;
    }

    .row {
        display: contents;
    }


}

@media only screen and (max-width: 990px) {
    body {
        font-size: 16px;
    }

    blockquote {
        font-size: 20px;
    }

    blockquote>p {
        padding-left:20px;
    }
    .blog-menu-collapsed {
        display: block;
        color: #fff; 
    }

    .navbar {
        line-height: 2.1;
        /* margin-top: 10px; */
    }
}