---
layout: default
---

<style>
#mainNav {
  background-color: #212529;
}
h1 {
  margin-top: 75px;
}

.error-text {
  position: relative;
  color:white;
  top: 350px;
}

a {
  text-decoration: none;
}
</style>

<header>
  <div class="overlay hero" style="background-image: url('{{ page.background }}');">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10">
    
          <span class="error-text">
            {{ content }}
          </span>

        </div>
      </div>
    </div>

  </div>
</header>


