---
layout: default
---

<style>
#mainNav {
  background-color: #212529;
}
h1 {
  margin-top: 75px;
}

</style>
<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ content }}
      </div>
    </div>
  </div>
