---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    
    <div class="container">
      <div>
        <div class="mx-auto">
          <div class="post-heading">
            <h2 class="title">{{ page.title }}</h2>
            {% if page.subtitle %}
            <h2 class="post-subtitle">{{ page.subtitle }}</h2>
            {% endif %}
            <a id="searchbutton" class="btn btn-warning btn-sm"><span>Search</span> &rarr;</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">

    <script>
      
  
      $( function() {
              
        $.noConflict();
        $(document).ready(function( $ ) {
          
          const element = document.getElementById("searchForm");
          element.addEventListener('submit', event => {
            event.preventDefault();
          });
          $('#tipue_search_input').tipuesearch();

          $( "#searchdialog" ).dialog({
            autoOpen: false,
            maxHeight: 1100,
            maxWidth: 1400,
            minWidth: screen.availWidth / 2,
            minHeight: 700,
            title: "Search",
            show: {
              effect: "blind",
              duration: 100
            },
            hide: {
              effect: "explode",
              duration: 100
            },
            buttons: [
            {
              text: "Done",
              icon: "ui-icon-heart",
              click: function() {
                $( this ).dialog( "close" );
              },
              showText: true
            }
          ]
          });
    
          $( "#searchbutton" ).on( "click", function() {
            $( "#searchdialog" ).dialog( "open" );
          });

        });
      } );

    </script>

    <div class="row">
      <div class="mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 10 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.summary %}
            <h3 class="post-subtitle">{{ post.summary }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-warning float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>


        <div id="searchdialog">
              <form id="searchForm" action="{{ page.url | relative_url }}">
                <div class="form-group">
                  <span for="tipue_search_input" style="margin-bottom: 2px;">Enter your search term:</span>
                  <input autocomplete="false" type="text" class="form-control" id="tipue_search_input" required>   
                </div>
            </form>
            
            <div id="tipue_search_content"></div>
        </div>
      </div>
    </div>
  </div>
