---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead"
  style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}

    <div class="container">
      <div>
        <div class="mx-auto">
          <div class="post-heading">
            <h2 class="title">{{ page.title }}</h2>
            {% if page.subtitle %}
            <h2 class="post-subtitle">{{ page.subtitle }}</h2>
            {% endif %}
            <a id="searchbutton" class="btn btn-warning btn-sm"><span>Search</span> &rarr;</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">

    <div class="row">
      <div class="mx-auto">

        {{ content }}

        <!-- Home Post List -->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        {% assign numbers = "0,3,6,9,12,15" | split: ',' %}
        {% for i in numbers %}
        {% include postcard.html offset=i %} 
        {% endfor %}

        <!-- Pager -->
        <p />
        <div class="clearfix">
          <a class="btn btn-warning float-center" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

        {% include search.html %}

      </div>
    </div>
  </div>