---
layout: default
---

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ "/images/home/slide-1.jpg" | prepend: site.baseurl | replace: '//', '/' }}')">
    <div></div>
    <div class="container">
      <div>
        <div class="mx-auto">
          <div class="post-heading">
            <h2 class="title">{{ page.title }}</h2>
            {% if page.subtitle %}
            <h2 class="post-subtitle">{{ page.subtitle }}</h2>
            {% endif %}
            <span class="meta">Posted by
              <a href="#">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a>
              on {{ page.date | date: '%B %d, %Y' }} &middot; {% include read_time.html
              content=page.content %} &middot; <a href='/feed.xml'><i class="fas fa-rss"></i></a>
              <a href="javascript:switchMode();"><i class="fas fa-moon"></i></a>
            </span>
          </div>
        </div>
      </div>
    </div>


  </header>

  <div class="container">
    <div class="blogcontainer">
      <div class="blogpost mx-auto">

        {{ content }}

        <hr>

        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-warning float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
              Post</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-warning float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
              Post</span> &rarr;</a>
          {% endif %}

        </div>

      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.0.0/anchor.min.js"></script>
  <script>
      anchors.options.visible = 'always';
      anchors.add('h1,h2,h3,h4');
  </script>
  