---
layout: default
---

<script src="{{"/assets/vendor/filter-checkboxes-multiple/filter-multi-select-bundle.min.js" | relative_url }}"></script>

<style>
  /* Hide the close button for each tag */
  #blogTags.dropdown span.item button {
    display: none;
  }

  #blogTags.dropdown span.item {
    padding-right: 8px;
  }

  #clearButton {
    margin-left: 8px;
  }
</style>

<div id="allBlogPosts" style="display:none">
  {% for post in site.posts %}
    <span data-post-title="{{ post.title }}" data-post-date="{{ post.date }}" 
          data-post-url="{{ post.url }}" data-post-summary="{{ post.summary }}"
          data-post-tags="{{ post.tags | join: ',' }}" />
  {% endfor %}
</div>

<!-- Page Header -->
{% if page.background %}
<header class="masthead" 
style="background-size: contain; background-position-x: right; background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead">
  {% endif %}
  
  <div class="container">
    <div>
      <div class="mx-auto">
        <div class="post-heading">
          <h2 class="title">{{ page.title }} <img src="/images/blog/tag.png" style="vertical-align: super;"> </h2>
          <h2 class="post-subtitle">{{ page.subtitle }}</h2>
          <select multiple name="blogTag" id="blogTags">
            
            {% assign sorted_tags = site.tags | sort %}
            {% for tag in sorted_tags %}
            {% assign name = tag[0] %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
  
</header>

<div class="container">
  <div class="row">
    <div class="mx-auto">
      <span id="blogEntries" />
      {{ content }}
    </div>
  </div>
</div>

<script>

  const blogTags = $('#blogTags').filterMultiSelect({
    placeholderText: "Select topics from the Fawnoos Blog..."
  });

  blogTags.deselectAll();

  $("#blogEntries").empty();
  $("div.dropdown-item.custom-control:first").hide()

  let clearButton = `<a id='clearButton' href="javascript:clearSelections();"><i class="fa fa-times"></i></a>`
  $(".viewbar").append(clearButton);

  function clearSelections() {
    blogTags.deselectAll();
    $("#blogEntries").empty();
  }

  let filterFunction = function() { 
    $("#blogEntries").empty();

    let selectedTags = JSON.parse(blogTags.getSelectedOptionsAsJson(false)).blogTag;
    console.log("Selected tags are " + selectedTags);

    let filteredPosts = [];
    if (selectedTags.length > 0) {
      $("#allBlogPosts span").filter(function() {
        let postTags = $(this).attr("data-post-tags").trim().split(",");
        console.log("Post tags are " + postTags);
        let result = selectedTags.every(t => postTags.includes(t));
        console.log("Checking post " + postTags + " for selected tags " + selectedTags + ": " + result);
        return result;
      }).map(function() {
          let post = {
            title: $(this).attr("data-post-title"),
            date: $(this).attr("data-post-date"),
            url: $(this).attr("data-post-url"),
            summary: $(this).attr("data-post-summary"),
            tags: $(this).attr("data-post-tags").trim()
          };
          console.log("Adding post " + post.title);
          filteredPosts.push(post);
        });
    }
    
    console.log(`Found posts ${filteredPosts.length}`);
    
    let cards = "";
    let count = 0;
    filteredPosts.forEach(post => {
      // console.log(post.url);

      let tags = post.tags.trim().split(",").map(tag => { 
        return `<li><a href="/tags?t=${encodeURIComponent(tag.trim())}">${tag.trim()}</a>&nbsp;</li>` }).join("");

      cards = cards + 
        `<div class="card filter">
          <span>
            <div class="card-body text-center">
              <h4 class="card-title" style="min-height: 130px;">
                <a class="post-preview-link" href="${post.url}">${post.title}</a></h4>
              <span class="post-meta">Posted on ${post.date}</span>
              <span class="tagcloud06"><ul>${tags}</ul></span>
              <p class="card-text">
                <h4 class="post-subtitle">${post.summary}</h4>
              </p>
            </div>
          </span>
        </div>`;
        
      count++;
      if (count % 3 == 0) {
        let cardDeck = `<div class="card-deck" style="padding-top: 10pt;">${cards}</div>`;
        $("#blogEntries").append(cardDeck);
        cards = "";
        count = 0;
      }
    });
  
    if (count > 0) {
      let cardDeck = `<div class="card-deck" style="padding-top: 10pt;">${cards}</div>`;
      $("#blogEntries").append(cardDeck);
    }
  
  };

  $("input[name=blogTag]").on("click", filterFunction);


  let urlParams = new URLSearchParams(window.location.search);
  if (urlParams.has('t')) {
    let tag = urlParams.get('t');
    console.log("Setting tag to " + tag);
    blogTags.selectOption(tag);
  } else {
    blogTags.selectOption("CAS 7.0.x");
  }
  filterFunction();
</script>
